<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} - TCGDex</title>
</head>
<body>
    {% if cards %}
	    {% for card in cards %}
	        <div>
	            <img src={{card.imageUrl}} alt={{card.name}}>
	        </div>
	    {% endfor %}
	{% else %}
	<div class="alert alert-danger text-center">
	    <strong>Oops!</strong> Tidak ada kartu tersebut.
	</div>
	{% endif %}

</body>
</html>
